.tab-page-holder {
  position: relative;
  min-height: 100vh;
  .tab-page {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    height: 100vh;
    overflow: hidden;
    &.active-page {
      height: auto;
      overflow: auto;
      min-height: 100vh;
      z-index: 0;
      opacity: 1;
    }
  }
}
