.tab-page-holder {
  position: relative;
  .tab-page {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    &.active-page {
      pointer-events: all;
      overflow: auto;
      z-index: 0;
      opacity: 1;
    }
  }
}
